.aside .logo a::before{
	border-top:4px solid #f2f2fc;
	border-left:4px solid #f2f2fc;
}
.aside .logo a::after{
	border-right:4px solid #f2f2fc;
	border-bottom:4px solid #f2f2fc;
}
.contact .contact-info-item .icon .fa,
.about .about-content .about-text h3 span{
	color: #302e4d;
}


.project .timeline .circle-dot,
.project .timeline .timeline-item::before,
.experience .timeline .circle-dot,
.experience .timeline .timeline-item::before,
.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.skills .skills-content .skill-item .progress .progress-in,
.section-title h2::after,
.section-title h2::before,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after{
background-color: #ec1850;
}
/*#ec1839*/
